@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&family=PT+Sans:ital@1&family=Poppins:wght@400;500&family=Rubik:wght@300;400;500;700;900&family=Ubuntu:ital,wght@0,400;0,700;1,500&display=swap");
.btn-success {
  background: #15A192;
}

.btn-outline {
  border: 1px solid #15A192;
  margin-right: 10px;
}

body {
  font-family: rubik;
  background: #131b26;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a {
  color: white;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar .container .navbar-brand {
  height: 100px;
  width: 130px;
}

.navbar .container .navbar-brand img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar .container .collapse ul {
  margin-right: 70px;
}

.navbar .container .collapse ul li a {
  color: rgba(255, 255, 255, 0.6);
  position: relative;
  padding: 4px 0;
  margin: 10px;
}

.navbar .container .collapse ul li a:hover {
  color: #15A192;
}

.navbar .container .collapse ul li a.active {
  color: #15A192;
}

.navbar .container .collapse ul li a.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 2px;
  background: #15A192;
}

.navbar .container .collapse form .btn {
  color: rgba(255, 255, 255, 0.8);
}

.navbar .container .collapse form .btn-success {
  color: white;
}

@media (max-width: 992px) {
  .navbar .container .collapse form .btn-outline {
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .navbar .container .collapse form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 992px) {
  .navbar .container .collapse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.showcase {
  height: 80vh;
}

.showcase .container .row .col h1 {
  text-transform: capitalize;
  font-size: 60px;
  opacity: .95;
  margin-bottom: 20px;
}

.showcase .container .row .col p {
  opacity: .75;
  margin-bottom: 30px;
}

.showcase .container .row .col select {
  padding: 14px 22px;
  outline: none;
  border: 0;
  font-size: 16px;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .showcase .container .row .image-side {
    display: none;
  }
}

.featured {
  background: rgba(255, 255, 255, 0.021);
}

.featured .container .row .col {
  height: 100px;
}

.featured .container .row .col img {
  width: 140px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: .4;
}

.why .container .row .col-md-4 {
  padding: 10px;
}

.why .container .row .col-md-4 .icon-div {
  background: rgba(21, 161, 147, 0.153);
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  font-size: 25px;
  color: #15A192;
}

.why .container .row .col-md-4 p {
  opacity: .7;
}

.why .container .row .col-md-4 h4 {
  opacity: .9;
}

.testimonials {
  background: rgba(255, 255, 255, 0.008);
}

.testimonials .container {
  max-width: 992px;
}

.testimonials .container .user i.fa-quote-left {
  color: #15A192;
  font-size: 24px;
}

.testimonials .container .user p.my-4 {
  opacity: .8;
}

.testimonials .container .user .person h5 {
  font-size: 19px;
  margin-bottom: 0;
}

.testimonials .container .user .person .job {
  font-size: 15px;
  opacity: .5;
  margin: 0;
}

.testimonials .container .user i.left {
  opacity: .5;
}

.find {
  background: rgba(255, 255, 255, 0.05);
}

.find .container .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  position: relative;
  gap: 20px;
}

.find .container .images img {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.find .container .col-lg-6 h2 {
  font-size: 36px;
  margin: 20px 0;
}

.find .container .col-lg-6 p {
  opacity: .7;
  margin-bottom: 20px;
}

.find .container .col-lg-6 .btn {
  display: block;
  width: 180px;
}
/*# sourceMappingURL=landingpage.css.map */